---
layout: layouts/base.njk
templateClass: tmpl-post
pagination:
  data: posts
  size: 1
  alias: post
title: {{post.title}}
permalink: '/posts/{{ post.url }}/'
---
<h1>{{ post.title }}</h1>

{{ post.content | safe }}

<hr>
